# Node
node_modules

# Gatsby
.cache
public

# JetBrains
.idea

# Env
.env.*

# macOS
.DS_Store

# storybook
dist
storybook-static

# Generated
src/domain/entities/gatsby.ts
src/domain/entities/shopify.ts
src/domain/entities/shopify-admin.ts
src/domain/entities/shopify-storefront.ts

# tests
test-results