# JetBrains
.idea

#  Node
node_modules

# Gatsby
.cache
public

# storybook
dist
storybook-static

# Generated
src/domain/entities/gatsby.ts
src/domain/entities/shopify.ts
src/domain/entities/shopify-admin.ts
src/domain/entities/shopify-storefront.ts
